{% extends "base/base.html" %}

{% block title %}Страница преподавателя{% endblock %}


{% block content %}

<div class="d-flex justify-content-center">
  <div class="card" style="width: 18rem;">
    <img src="../assets/img/prepod.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ data[0]['fio'] }}</h5>
      <p class="card-text">{{ data[0]['group_name'] }}</p>
    </div>
  </div>
</div>



<div class="d-flex justify-content-center">
  <div class="mt-5 col-lg-5">
    <h2>Добавить Группу</h2>
    <form action="/group" method="post">

      <div class="mb-3">
        <label for="name" class="form-label">Имя группы</label>
        <input type="text" class="form-control" id="name" name="name" required>
      </div>

      <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
  </div>
</div>



<div class="d-flex justify-content-center">
  <div class="mt-5 col-lg-5">
    <h2>Студента в группу</h2>
    <form action="/student-group" method="post">
      <div class="mb-3">
        <label for="group_id" class="form-label">Студент</label>
        <select class="form-control select2" id="user_id" name="user_id" required data-allow-clear="true">
          <option value="">Выберите студента</option>
          {% for user in users %}
          <option value="{{user.id}}">{{user.fio}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-3">
        <label for="group_id" class="form-label">Группа</label>
        <select class="form-select select2" id="group_id" name="group_id" required data-allow-clear="true">
          <option value="">Выберите группу</option>
          {% for group in groups %}
          <option value="{{group.id}}">{{group.name}}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
  </div>
</div>


<div class="d-flex justify-content-center">
  <div class="mt-5 col-lg-5">
    <h2>Тема</h2>
    <form action="/theme" method="post">
      <div class="mb-3">
        <label for="discipline_id" class="form-label">Предмет</label>
        <select class="form-control select2" id="discipline_id" name="discipline_id" required data-allow-clear="true">
          <option value="">Выберите предмет</option>
          {% for discipline in disciplines %}
          <option value="{{discipline.id}}">{{discipline.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Имя</label>
        <input type="text" class="form-control" id="name" name="name" required>
      </div>
      <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
  </div>
</div>



{% endblock %}
